[package]
name = "something_good"
version = "0.1.0"
authors = ["Daniel Werner <dan.werner@gmail.com>"]
publish = false
build = "build.rs"

[lib]
name = "engine"

# cargo rustc --lib -- -C prefer-dynamic
crate-type = ["rlib", "dylib"]

[[bin]]
name = "something_good"

[dependencies]

futures = "0.1"
cgmath = "0.11.0"
time = "0.1"

# renderer
sdl2 = "0.22"
winit = "0.5"
vulkano = "0.2.1"
vulkano-win = "0.2"
vulkano-shaders = "0.2"
glsl-to-spirv = "0.1"

# models
piston-opengex = "0.6"

# protocol + net
rustc-serialize = "*"
bincode = "0.6"
capnp = "0.7"
capnpc = "0.7"

[build-dependencies]
vulkano-shaders = "0.2"
